
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* General styles for the page */
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
  }
  
  header {
    background-color: #ab757b;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  header h1 {
    font-size: 15px;
  }
  
  nav ul {
    display: flex;
    list-style: none;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
  }
  
  section h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  section ul {
    list-style-type:square;
    margin-left: 20px;

  }
  
  button {
    padding: 10px 20px;
    background-color: #3498db;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }

  #form
  {
    text-align: center;
  }
  
  footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  
  @media (max-width: 400px) {
    header {
      flex-direction: column;
      align-items: flex-start;
    }
  
    nav {
      margin-top: 10px;
    }
  
    nav li {
      margin-right: 10px;
    }
  
    main {
      padding: 10px;
    }
  
    section h2 {
      font-size: 20px;
    }
  
    button {
      padding: 8px 16px;
      font-size: 14px;
    }
    img
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 10%;
        height: 10%;
    
    }
  }
  